body,
html {
  width: 100%;
  height: 100%;
  font-family: Segoe UI;
  font-size: x-large;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}
::after,
::before {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #e3e8e8;
  color: black;
}
.navbar {
  width: 100%;
  height: 13%;
  background-color: #56835d;
  border: 11px solid #707070;
  display: inline-flex;
  flex-flow: row wrap;
  color: white;
  /* align-content: center;
  justify-content: space-between; */
  /* place-content: <align-content> <justify-content>; */
  place-content: center space-between;
  align-items: center;
  text-align: left;
  border: none;
}
.navbar img {
  width: 80px;
}
input {
  width: 100%;
  background-image: url("./search-icon-copy.svg");
  background-repeat: no-repeat;
  text-align: center;
  background-color: #c6dac7;
  border: none;
  height: 20%;
}
input:focus {
  border: none;
}
form,
input {
  margin-top: 1em;
  width: 99%;
  height: 3em;
  border-radius: 30px;
  background-position-x: 8px;
}
